In [1]:
import pandas as pd
import os

In [2]:
# Path to processed Parquet files
base_path = "../data/processed/bus_weather_joined"

# üîÅ Load all year/month partitions (or a sample)
df = pd.read_parquet(base_path, engine="pyarrow")

# üß™ Quick Checks
df.head()

# Column summary
df.info()

# Nulls in weather columns
df[["temperature_2m_max", "precipitation_sum"]].isnull().mean() * 100

# Distribution of delays
df["How_Long_Delayed"].value_counts().head(10)

# Merge sanity check
df[["date", "temperature_2m_max", "Boro"]].sample(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732663 entries, 0 to 732662
Data columns (total 12 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   date                           732663 non-null  object
 1   Boro                           721387 non-null  object
 2   Bus_Company_Name               732663 non-null  object
 3   Reason                         732661 non-null  object
 4   How_Long_Delayed               667755 non-null  object
 5   Number_Of_Students_On_The_Bus  732663 non-null  int32
 6   temperature_2m_max             89847 non-null   float64
 7   temperature_2m_min             89847 non-null   float64
 8   precipitation_sum              89847 non-null   float64
 9   windspeed_10m_max              89847 non-null   float64
 10  year                           732663 non-null  category
 11  month                          732663 non-null  category
dtypes: category(2), float64(4), int32(1), object(5)
memory usage: 54.5+ MB

              date  temperature_2m_max       Boro
623566  2023-06-14                24.6   Brooklyn
605229  2023-04-03                13.3     Queens
183581  2018-01-31                 NaN       None
653013  2024-10-28                 NaN  Manhattan
433672  2021-11-15                 NaN     Queens

In [3]:
df[df["temperature_2m_max"].isnull()]["date"].value_counts().head(10)

date
2016-01-25    1221
2018-11-13     978
2017-03-15     923
2019-01-31     909
2019-01-22     898
2016-01-26     896
2019-02-25     888
2018-11-15     871
2017-02-10     865
2017-10-30     864
Name: count, dtype: int64

In [4]:
df[df["temperature_2m_max"].notnull()]["date"].value_counts().head(10)

date
2023-12-18    941
2023-09-29    893
2023-10-30    816
2023-09-18    738
2023-01-31    708
2023-09-07    688
2023-12-11    671
2023-02-06    669
2023-09-11    651
2023-01-23    645
Name: count, dtype: int64